<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.xb.dao.UserMapper">
    <update id="updateUserByEmail">
        update user set password=#{password} where email=#{email}
    </update>
    <select id="selectUser" parameterType="String" resultType="User">
        select * from user where username like concat('%',#{name},'%')
    </select>
</mapper>